---
layout: layout
---

	{% if page.image %}
	
			<div class="cover">
				<img src="/images/posts/{{ page.image }}" alt="">
			</div>
	{% endif %}
<iframe width="890" height="500" src="{{page.youtube}}" frameborder="0" allowfullscreen></iframe>

<section class="post">

	<h1>
		<a href="{{ page.url }}">{{ page.title }}</a>
	</h1>

	{{ content }}

</section>

{% if page.isImageCover == false %}
	{% if page.image %}
		<div class="cover">
			<img src="/images/posts/{{ page.image }}" alt="">
		</div>
	{% endif %}
{% endif %}

